include ../icon-btn/icon-btn

mixin item-card(arr)
    .item-card
        a.item-card__link(href=arr.href title=arr.name)
            img.item-card__img(src=arr.img, alt="")
            span.item-card__name= arr.name
        .item-card__wrap
            .item-card__cost!= arr.cost
                | &nbsp;руб.
            .item-card__btns
                each btn in arr.btns
                    +icon-btn(btn)
